loglevel: warning

mqtt:
  hostname: "192.168.0.2"
  port: 1883

http:
  - url: "http://192.168.0.15/"
    loglevel: debug
    error_topic: "smartWb/httpErrors"
    storage:
      current: 6
    requests:
      - &getParameters
        endpoint: getParameters
        cycle: 10
        topics:
          - topic: "smartWb/meterReading"
            json_path: "$.list.[0].meterReading"
          - topic: "smartWb/actualPower"
            json_path: "$.list.[0].actualPower"
          - topic: "smartWb/actualCurrent"
            json_path: "$.list.[0].actualCurrent"
          - topic: "smartWb/vehicleState"
            json_path: "$.list.[0].vehicleState"
          - topic: "smartWb/evseState"
            json_path: "$.list.[0].evseState"
          - topic: "smartWb/status"
            json_path: "$.list.[0].vehicleState"
            map:
              1: A
              2: B
              3: C
          - topic: "smartWb/enabled"
            json_path: "$.list.[0].actualCurrent"
            map:
              0: 'false'
            map_default: 'true'
    triggers:
      - topic: "smartWb/setCurrent"
        storage:
          current: "{payload}"
        requests:
          - endpoint: setCurrent
            params:
              current: "{payload}"
            method: "GET"
            retry:
              retries: 3
              delay: 20
          - <<: *getParameters
      - topic: "smartWb/setStatus"
        map:
          'false': 0
          'true': "{current}"
        requests:
          - endpoint: setCurrent
            params:
              current: "{payload}"
            method: "GET"
            retry:
              retries: 3
              delay: 20
          - <<: *getParameters
